
<div class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
        <div class='navbar-header'>
            <button class='navbar-toggle' data-target='.navbar-collapse' data-toggle='collapse' type='button'> <span class='glyphicon glyphicon-list'></span> </button>
            <a class='navbar-brand' href='/project-tracker'>AngularJS Demonstration</a>
        </div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li> <a href='#/headlines'>Headlines</a> </li>
                <li> <a href='#/news'>All News</a> </li>
                <li> <a href='#/news/new'>Post</a> </li>
                <li> <a href='#/apiStuff'>API Fetch</a> </li>
                <li> <a href='#/students'>Student Management</a> </li>
            </ul>
            <ul class='nav navbar-nav navbar-right'>
                <li> <a href="#/logout" rel="nofollow">Logout</a> </li>
            </ul>
        </div>
    </div>
</div>
<!--Top nav bar ends here -->

<div class="container" ng-repeat="stuff in data">
  
</div>

